# Proxy
PROXY_ADDR=:6380
PROXY_USERNAME=proxy
PROXY_PASSWORD=proxy-password

# Redis
REDIS_ADDR=127.0.0.1:6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DB=0

# Connection
CONNECT_TIMEOUT=5s
AUTH_TIMEOUT=5s
READ_TIMEOUT=0
WRITE_TIMEOUT=0
