# Proxy
REDIS_PROXY_ADDR=:6380
REDIS_PROXY_USERNAME=proxy
REDIS_PROXY_PASSWORD=proxy-password

# Redis
REDIS_ADDR=127.0.0.1:6379
REDIS_USERNAME=
REDIS_PASSWORD=

# Connection
REDIS_CONNECT_TIMEOUT=5s
REDIS_AUTH_TIMEOUT=5s
